<%#= render 'real_estates/search_estate' %>
<section class="container my-5">
    <% @image_data = {url: 'img_home.png', pos_x: 'right', pos_y: '50%'} %>
    <%= render :partial => "real_estates/search_estate", :object => @image_data %>
    <%= video_tag "video_home.m4v", autoplay: :autoplay, loop: :loop, muted: :muted, class: "w-100 mt-5"%>
</section>


<h2 id="h1_homepage">This is why you should choose House of Coins</h2>

<div class="container my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12">
                <div class="features-item">
                    <div class="features-icon">
                        <img src=<%= asset_path 'coins.png' %> alt="coins_jar">
                        <h4>Investing</h4><br>
                        <p>Investing in House Of Coins means making your money grow while minimizing your risk.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12">
                <div class="features-item">
                    <div class="features-icon">
                        <img src=<%= asset_path 'multiple_houses.png' %> alt="houses">
                        <h4>Owner</h4><br>
                        <p>Thanks to the platform, become a multiple owner.</p><br><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12">
                <div class="features-item">
                    <div class="features-icon">
                        <img src=<%= asset_path 'stonks.png' %> alt="stonks">
                        <h4>Value</h4><br>
                        <p>Dilute your risks and benefit from interesting added value.</p><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-12 col-xs-12">
                <div class="features-item">
                    <div class="features-icon">
                        <img src=<%= asset_path 'team.png' %> alt="people_working">
                        <h4>Our Team</h4><br>
                        <p>Benefit from projects audited by our teams.</p><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="section" id="article">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>House of Coins</h6>
                        <h2>The future of real estate investing is tokenization</h2>
                    </div>
                    <p>Tokenization refers to the registration of an asset and its rights on a token in order to allow its management and exchange in a peer-to-peer manner on a blockchain, in an instantaneous and secure manner. A new era is opening up for real estate assets: their digitalization.
                    This digitized asset, the "token", has several advantages.
                    <div class="row">
                        <div class="col-4">
                            <img src=<%= asset_path 'house_interior.png' %> alt="house_interior">
                        </div>
                        <div class="col-4">
                            <img src=<%= asset_path 'house_interior_1.png' %> alt="house_interior">
                        </div>
                        <div class="col-4">
                            <img src=<%= asset_path 'house_interior_2.png' %> alt="house_interior">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-content">
                    <div class="thumb">
                        <img src=<%= asset_path 'house_4.png' %> alt="house">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br>

<h2 id="h2_homepage">Benefits of using House of Coins</h2>

<section class="section" id="promotion">
    <div class="container">
        <div class="row">
            <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src=<%= asset_path 'building_art.png' %> alt="building">
            </div>
            <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                <ul>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                        <img src=<%= asset_path 'icon_house_1.png' %> alt="icon_house">
                        <div class="text">
                            <h4>Investing</h4>
                            <p>Find a property to invest in and earn your benefits</p>
                        </div>
                    </li>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                        <img src=<%= asset_path 'icon_house_2.png' %> alt="icon_house">
                        <div class="text">
                            <h4>HouseCoin</h4>
                            <p>The price displayed on HouseCoins is the price for a 'token' of the property for sale.</p>
                        </div>
                    </li>
                    <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                        <img src=<%= asset_path 'icon_house_3.png' %> alt="icon_house">
                        <div class="text">
                            <h4>Payments</h4>
                            <p>As soon as all HouseCoins have been sold, you receive your payments every month on a fixed date.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<h2 class="h2_testimonials">Testimonials</h2>

<div class="testimonials">
    <figure class="testimonials_card">
    <img src=<%= asset_path 'jeff_bezos.png' %> alt="jeff_bezos" />
    <figcaption>
        <blockquote>
        <p>I could've been richer if I had discovered House of Coins before</p>
        </blockquote>
        <h3>Jeff Bezos</h3>
        <h5>Rich</h5>
    </figcaption>
    </figure>
    <figure class="testimonials_card"><img src=<%= asset_path 'mark_zuckerberg.png' %> alt="mark_zuckerberg" />
    <figcaption>
        <blockquote>
        <p>Is my smile convincing?</p><br><br>
        </blockquote>
        <h3>Mark Zuckerberg</h3>
        <h5>Robot</h5>
    </figcaption>
    </figure>
        <figure class="testimonials_card"><img src=<%= asset_path 'elon_musk_weed.png' %> alt="elon_musk_joe_rogan"/>
    <figcaption>
        <blockquote>
        <p>Soon you'll buy houses on Mars thanks to House of Coins</p>
        </blockquote>
        <h3>Elon Musk</h3>
        <h5>Martian</h5>
    </figcaption>
    </figure>
</div>

<%= render :partial => "shared/newsletter" %>