<h4>Say Something!<%=current_user.username%></h4>
<div class="container" height="20%">
  <div class="text-center">
  <img src="<%=asset_path 'coffee.png'%>" alt="image-cofee"></div>
</div>

<hr>

<div class="d-flex flex-row justify-content-between">
  <div class="card col-md-9 ml-1"> 
    <%= render :partial => "messages" %>
    <% if @investors.values.include?([current_user.id])%>
      <%= render 'form', message: @message, real_estate: @real_estate %>
    <%else %>
      <p>No permission to write in this channel</p>
    <% end %>
  </div>
  <div class="card col-md-2 mr-1">
    <div class="col-md-4"><%= render :partial => "column-navbar" %>
  </div>
</div>

