<div class="container">
  <h1>My profile</h1>
  <div class="row md-cols-2 sm-cols-1 my-5">
    <div class="col-md-8">
      <h3>My orders</h3>
      <ul class="list-group">
        <%current_user.charges.each_with_index do | charge, i |%>
          <h5 class="mt-3">Order n°<%=i + 1%></h5>
          <li class="list-group-item">
            <%Order.find_by(id: charge.order_id).house_coins.each do | hc |%>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6>House Coin n°<%=hc.id%></h6>
                  <%real = RealEstate.find_by(id: hc.real_estate_id)%>
                  <p>Price <%=hc.coin_price / 100%> €</p>
                </li>
                <%if real.pictures.present?%>
                  <li class="list-group-item">
                    <%=image_tag real.pictures, alt: real.name, style: "width: 20rem;"%>
                  </li>
                <%else%>
                  <li class="list-group-item">
                    <%=image_tag real.image_urls, alt: real.name, style: "width: 20rem;"%>
                  </li>
                <%end%>
                <li class="list-group-item">
                  <h6>Name</h6>
                  <p><%=real.name%></p>
                </li>
                <li class="list-group-item">
                  <h6>Address</h6>
                  <p><%=real.adress%></p>
                </li>
                <li class="list-group-item">
                  <h6>Zip code</h6>
                  <p><%=real.zipcode%></p>
                </li>
              </ul>
            <%end%>
          </li>
        <%end%>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>My infos</h3>
      <div class="card my-5">
        <div class="card-body">
          <div class="card-text">
            <p>Username: <%=current_user.username%></p>   
            <p>Email: <%=current_user.email%></p>   
            <div class="buttons d-flex">
              <%=link_to 'Modify infos', edit_user_path(current_user.id), class: "btn btn-warning mr-2"%>
              <%=link_to 'Modify registration', edit_user_registration_path(current_user.id), class: "btn btn-danger"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>My Properties</h2>
    <ul class="list-group">
      <%current_user.real_estates.each_with_index do | property, i |%>
        <li class="list-group-item">
          <h6>Property n° <%=i%></h6>
        </li>
        <li class="list-group-item">
          <%if property.pictures.present?%>
            <li class="list-group-item">
              <%=image_tag property.pictures, alt: property.name, style: "width: 20rem;"%>
            </li>
          <%else%>
            <li class="list-group-item">
              <%=image_tag property.image_urls, alt: property.name, style: "width: 20rem;"%>
            </li>
          <%end%>
        </li>
        <li class="list-group-item">
          <h6>HouseCoin left</h6>
          <p><%=property.current_house_coin_number%> / <%=property.original_house_coin_number%></p>
        </li>
      <%end%>
    </ul>
  </div>
</div>
