<h1>My Cart</h1>
<div class="container">
  <ul class="list-group-flush">
  <%unique_items = []%>

  <%@house_coins.each do | item |%>
    <%if !unique_items.map{ | c | c.real_estate_id }.include?(item.real_estate_id)%>
      <%unique_items << item%>
    <%end%>
  <%end%>

    <%unique_items.each do | hc |%> 
      <li class="list-group-item">
        <ul class="list-group my-3">
          <li class="list-group-item"><h6>Quantity</h6></li>
          <li class="list-group-item"><%= q = HouseCoin.where(order_id: current_order, real_estate_id: hc.real_estate_id).length %></li>
          <li class="list-group-item"><h6>Price</h6></li>
          <li class="list-group-item"><%=q * hc.coin_price / 100.0%> €</li>
          <li class="list-group-item"><h6>For property</h6></li>
          <li class="list-group-item"><%=RealEstate.find(hc.real_estate_id).name%></li>
        </ul>
        <%=button_to 'Remove from cart', house_coin_path(hc.id), method: :delete, class: "btn btn-danger"%>
      </li>
    <%end%>
    <li class="list-group-item"><h5>Total</h5></li>
    <li class="list-group-item"><%=current_order.order_total / 100.0%> €</li>
  </ul>
  <%=link_to 'Checkout', new_charge_path, class: "btn btn-success"%>
</div>
